* {
  font-family: "Raleway";
  font-weight: 600;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
}
body {
  display: block;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;

  user-select: none;
  /* unselectable: on; */
}

.line-vs-tabs {
  top: 33px !important;
}

.icon-hgradient {
  fill: url(#gradient-horizontal) gray;
  /* We could use it as a stroke fill too:
  stroke: url(#gradient-horizontal) gray; */
}
.icon-vgradient {
  fill: url(#gradient-vertical) gray;
}
@media only screen and (min-width: 1020px) and (max-width: 1400px) {
  .logo {
    left: 125px !important;
  }
}

@media only screen and (max-width: 600px) {
  .headers {
    display: none !important;
  }
  .headers2 {
    display: none !important;
    color: salmon;
  }
  .col-md-6 > h1 {
    text-align: center;
  }
  .navmob {
    display: block !important;
  }
  h1 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  .bgbenf > h2.center {
    margin-bottom: 50px;
  }
  .green,
  .mb-2 {
    float: unset;
    margin: auto;
  }
  .box {
    margin: 0 auto;
  }
  .navbar {
    margin-top: 30px !important;
  }

  .icon {
    margin-bottom: 50px;
  }
  .icon > span > img {
    margin-bottom: 16px !important;
  }
  .fw {
    width: 100% !important;
  }
}

@media only screen and (min-width: 601px) {
  .headers,
  .headers2 {
    display: block;
  }
  .navmob {
    display: none !important;
  }
}
