* {
  font-family: "Raleway";
  font-weight: 600;
}
#gradient-horizontal {
  --color-stop-1: #a770ef;
  --color-stop-2: #cf8bf3;
  --color-stop-3: #fdb99b;
}
#gradient-vertical {
  --color-stop-1: #00c3ff;
  --color-stop-2: #77e190;
  --color-stop-3: #ffff1c;
}

.icon-hgradient {
  fill: url(#gradient-horizontal) gray;
  /* We could use it as a stroke fill too:
  stroke: url(#gradient-horizontal) gray; */
}
.icon-vgradient {
  fill: url(#gradient-vertical) gray;
}

@media only screen and (max-width: 600px) {
  .headers {
    display: none !important;
  }
  .headers2 {
    display: none !important;
  }
  .navmob {
    display: block !important;
  }
  h1 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  .green,
  .mb-2 {
    float: unset;
    margin: auto;
  }

  .icon {
    margin-bottom: 50px;
  }
  .icon > span > img {
    margin-bottom: 16px !important;
  }
  .fw {
    width: 100% !important;
  }
}

@media only screen and (min-width: 601px) {
  .headers,
  .headers2 {
    display: block;
  }
  .navmob {
    display: none !important;
  }
}
